<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-component.component.scss">
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
</style>
<body>

    <div class="overlay"></div>

        <div class="container-principal">
        
            <div class="login-container">
                
                <div class="login-card">
        
                    <h2 class="login-title">Login</h2>
                    <p class="login-subtitle">Welcome back!</p>

                    <form class="login-formulario">
                        <div>
                            <input type="text" placeholder="User: ">
                        </div>
                        <div>
                            <input type="password" placeholder="Password: ">
                        </div>
                        <div class="login-buttons">
                            
                            <button type="submit"> Login </button>
                            
                            <div class="division-line">
                                <div class="line-divider"></div>
                                <span>or</span>
                                <div class="line-divider"></div>
                            </div>
        
                        </div>
                    </form>
                
                </div>
            
            <div class="imagem-card"></div>
        </div>
        
    </div>

</body>
</html>